<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="invia">
</form>

<!-- <script>
    const Form = ({ setCliccato }) => {
  const setBottoneCliccato = () => {
    setCliccato(true);
  };

  return (
    <div className="form-container">
        PROVA
      <form method="POST" action="/upload" encType="multipart/form-data">
        <input type="file" name="file" />
        <input
          type="submit"
          value="invia"
          onSubmit={(e) => e.preventDefault()}
          onClick={setBottoneCliccato}
        />
      </form>
    </div>
  );
};

export default Form;

</script> -->