.form-container form {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.form-container form input {
  margin: 20px auto;
  width: fit-content;
  text-align: center;
}

/* .form-container form input[type="button"] {
  margin-top: 50px;
} */

.form-container form label {
  margin: 10px auto 0 auto;
}

.input-ristretto {
  background-color: pink;
}

.risultati-container {
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.risultati-container > ul {
  list-style: none;
}

.risultati-container > ul > li {
  background-color: aquamarine;
}

.risultati-container .absolute {
  position: absolute;
}

/************ per nascondere le frecce dell'input number **************/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
